html
  head
    block header
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
      
  body
    .container(style='padding-top: 20px')
      .row
        .col-sm-3
          //- <button type="submit" class="btn" name="button">Upgrade</button>
          h5(style='line-height:30px')
            a(href='#' style='line-height:45px') About membership
        .col-sm-6
          h1.text-center.font-weight-bold SAGA MEDIUM
        .col-sm-2
          .float-right(style='line-height:30px')
            if s != null
              p1
                | Hello &nbsp;
              a(href='/logout')
                button.btn.btn-outline-primary(name='log-out-button')
                  | Logout
            else
              
              a(href='/login')
                button.btn.btn-outline-primary(name='log-in-button')
                  | Login 
              //- a(href='/login-by-form')
              //-   button.btn.btn-outline-primary(name='form-button')
              //-     | Login By form
                
        // List of categories
        div(style='padding: 0 100px 0 100px')
          nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.sticky-top.justify-content-between
            ul.navbar-nav
              li.nav-item.active
                button.btn.btn-primary(action='') Home
              li.nav-item
                a.nav-link(href='/logout')  Technology 
              li.nav-item
                a.nav-link(href='#')  Culture 
              li.nav-item
                a.nav-link(href='#')  Creativity 
              li.nav-item
                a.nav-link(href='#')  Popular 
              li.nav-item
                a.nav-link(href='#')  Media 
              li.nav-item
                a.nav-link(href='#')  Self 
              li.nav-item
                a.nav-link(href='#')  Productivity 
              li.nav-item
                a.nav-link(href='#')  Politics 
              li.nav-item
                a.nav-link(href='#')  Entrepreneurship 
              li.nav-item
                a.nav-link(href='#')  More 
        
      div(style='margin-top: 20px; word-wrap: break-word')
        p
          | #{s}  
