form(method='POST' action='/login-by-form')
  div.form-group
    lable(for='email') Email:
    input#email.form-control(type='email', placeholder='name@gmail.com', name='email')
  div.form-group
    lable(for='password') Password:
    input#password.form-control(type='password', name='password')
  button.btn.btn-primary(type='submit') Log in
          
